%h1 Site list

%ul.unstyled.sites
  - @sites.each do |site|
    %li
      .row-fluid
        .span3
          = link_to(site.url) do
            = image_tag("http://lorempixel.com/260/195?#{Random.rand}")
        .span9
          %h3= link_to(site.name, site_path(site))
          %p= site.description
          = link_to(t('.detail_btn'), site_path(site), class: 'btn')
